	<h2>楽天商品リスト</h2>
	<table>
		<tr>
			<td>
				
			</td>
			<td>
				
			</td>
		</tr>
	</table>


<%= link_to 'Edit', edit_rakutenclip_path(@rakutenclip) %> |
<%= link_to 'Back', rakutenclips_path %>
