	<h2>楽天商品リスト <%= @value %></h2>
	<table>
		<tr>
			<th>
				ID
			</th>
			<th>
				商品名
			</th>
			<th>
				価格
			</th>
		</tr>
		<tr>
			<td>
				123
			</td>
			<td>
				ダミー商品名
			</td>
			<td>
				35,234円
			</td>
		</tr>
	</table>

<%= link_to 'Back', rakutenclips_path %>
